@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    // color: white;
}
$bg: rgb(16,16,16);
a{
    
    text-decoration: none;
}
.header {
  height: 100px;
  background-color: $bg;
  display: flex;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  justify-content: space-between;
 
  > img {
    height: 100%;
  }
  >div{
      
      width: 100%;
      margin-left: 4vmax;
      > a{
          margin: 2vmax;
          font-size: 1.1rem;
          font-weight: 300;
          color: white;
          
        }
        
    }

    >svg{
        color: white;
        font-size: 2rem;
        cursor: pointer;
        &:hover{
            color: rgb(216,216,216);
        }
    }
}
    
    @media screen and (max-width:680px) {
       #search{
        display: none;
       }
       .header{
        padding: 0.2rem;
        display: flex;
        > div{
            // width: 20%;
            margin-left: 0.2vmax;
            > a{
                margin: 0rem;
            }
        }
        > img{
            height: 30%;
        }
       }
    }


